<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button color="light" class="buttonBack"></ion-menu-button>
    </ion-buttons>
    <ion-title color="light">
      <h1>Saber más</h1>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img src="../../assets/img/Logo.png" />


  <ion-grid>
    <ion-row>
      <ion-col size="1"></ion-col>
      <ion-col size="10">
        <ion-text style="text-align: center;">
          <h3>Aparte de las vulnerabilidades que se prueban hay otras vulnerabilidades XML que se deben tener en cuenta
            ya que pueden hacer que tu servidor deje de funcionar o que se revelen datos de carácter confidencial. Todo
            esto es muy importante que se evite y que se sepa como por ello si quieres saber más sobre vulnerabilidades
            XML puedes también consultar distintas páginas como:
          </h3>
          <a href="https://www.owasp.org/index.php/XML_External_Entity_(XXE)_Processing">
            <h3>OWASP</h3>
          </a><br>
        </ion-text>
      </ion-col>
      <ion-col size="1"></ion-col>
    </ion-row>

  </ion-grid>

</ion-content>