<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="1"></ion-col>
      <ion-col size="10">
        <p>
          En este recuadro debes añadir la URL de la petición con la cual quieres hacer pruebas.
          Por ejemplo: http://veteriApp/updateMascota/Rex</p> <br>
        <p>
          Esta petición para guardar una mascota debe llevar una serie de campos por ello más abajo se deben introducir
          los nombres
          de los campos. Por ejemplo en nuestro caso sería: nombre, propietario, especie, raza y sexo.
        </p>
      </ion-col>
      <ion-col size="1"></ion-col>
    </ion-row>
  </ion-grid>
</ion-content>