<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button color="light" class="buttonBack"></ion-menu-button>
    </ion-buttons>
    <ion-title color="light">
      <h1>Replicado</h1>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img src="../../assets/img/Logo.png" />

  <ng-container *ngIf="hayForm">
    <ion-grid>
      <ion-row>
        <ion-col size="1"></ion-col>
        <ion-col size="10">
          <ion-text style="text-align: justify;">
            <h3>Este test consiste en repetir los campos id e email mediante el registro de un usuario
              con valores que produzcan fallos en la lectura de los datos. Esto se consigue introduciendo este valor
              por ejemplo en el campo email: "a{{text1}}0 OR true{{text2}}a@b.com", esto puede ser realizado en otro
              campo sustituyendo email por el nombre del campo. De esta forma se conseguiría registrar un usuario de
              esta
              forma:
            </h3><br>
          </ion-text>
          <img style="height: 179px; width: 360px;" src="../../assets/img/test5.PNG" />
          <ion-text style="text-align: justify;">
            <h3>Vemos que las etiquetas userid e email están repetidas. Al haber etiquetas repetidas el lector de código
              solo
              interpretará las últimas que se encuentren, en este caso las que tienen los valores introducidos por
              nosotros.
            </h3><br>
          </ion-text>
        </ion-col>
        <ion-col size="1"></ion-col>
      </ion-row>


    </ion-grid>
    <button ion-button block button-large (click)="runTest()" class="buttonN">
      <h2> Ejecutar </h2>
    </button>

  </ng-container>

  <ng-container *ngIf="!hayForm">
    <br><br><br><br>
    <ion-grid>
      <ion-row>
        <ion-col size="1"></ion-col>
        <ion-col size="10">
          <ion-text style="text-align: center;">
            <h1>Upss no deberías estar aquí.</h1>
            <br>
          </ion-text>
        </ion-col>
        <ion-col size="1"></ion-col>
      </ion-row>
    </ion-grid>
  </ng-container>
</ion-content>