<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button color="light" class="buttonBack"></ion-menu-button>
    </ion-buttons>
    <ion-title color="light" style="float: left;">
      <h1> {{'TEST2.TITLE' | translate}}</h1>
    </ion-title>
    <ion-item style="width:300px; float: right; padding-top: 8px;">
      <ion-icon name="globe" color="light"></ion-icon>
      <ion-label color="light">{{ 'MENU.LANGUAGE' | translate }}</ion-label>
      <ion-select [(ngModel)]="idioma" (ionChange)="changeLanguage($event)">
        <ion-select-option value="es">Español</ion-select-option>
        <ion-select-option value="en">English</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img src="../../assets/img/Logo.png" />

  <ng-container *ngIf="hayForm">
    <ion-grid>
      <ion-row>
        <ion-col size="1"></ion-col>
        <ion-col size="10">
          <ion-text style="text-align: justify;">
            <h3> {{'TEST2.TEXT1' | translate}}</h3> <br>
          </ion-text>
        </ion-col>
        <ion-col size="1"></ion-col>
      </ion-row>

    </ion-grid>
    <button ion-button block button-large (click)="runTest()" class="buttonN">
      <h2> {{'TEST2.BUTTON' | translate}} </h2>
    </button>
  </ng-container>

  <ng-container *ngIf="!hayForm">
    <br><br><br><br>
    <ion-grid>
      <ion-row>
        <ion-col size="1"></ion-col>
        <ion-col size="10">
          <ion-text style="text-align: center;">
            <h1> {{'TEST2.TEXT2' | translate}}</h1>
            <br>
          </ion-text>
        </ion-col>
        <ion-col size="1"></ion-col>
      </ion-row>
    </ion-grid>
  </ng-container>

</ion-content>