<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button color="light" class="buttonBack"></ion-menu-button>
    </ion-buttons>
    <ion-title color="light">
      <h1>Etiquetas cerradas aleatorias</h1>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img src="../../assets/img/Logo.png" />

  <ng-container *ngIf="hayForm">
    <ion-grid>
      <ion-row>
        <ion-col size="1"></ion-col>
        <ion-col size="10">
          <ion-text style="text-align: justify;">
            <h3>Este test consiste en introducir etiquetas de cierre aleatorias (como por ejemplo {{tag}}) con el
              objetivo
              de deformar los mensajes de error XML y así poderse ver la estructura del archivo XML. </h3> <br>
          </ion-text>
        </ion-col>
        <ion-col size="1"></ion-col>
      </ion-row>

    </ion-grid>
    <button ion-button block button-large (click)="runTest()" class="buttonN">
      <h2> Ejecutar </h2>
    </button>
  </ng-container>

  <ng-container *ngIf="!hayForm">
    <br><br><br><br>
    <ion-grid>
      <ion-row>
        <ion-col size="1"></ion-col>
        <ion-col size="10">
          <ion-text style="text-align: center;">
            <h1>Upss no deberías estar aun aquí.</h1>
            <br>
          </ion-text>
        </ion-col>
        <ion-col size="1"></ion-col>
      </ion-row>
    </ion-grid>
  </ng-container>

</ion-content>