<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="4"></ion-col>
      <ion-col size="4">
        <img src="../../assets/img/Logo.png" />
        <br>
      </ion-col>
      <ion-col size="4">
        <ion-item style="width:300px; float: right;">
          <ion-icon name="globe" color="light"></ion-icon>
          <ion-label color="light">{{ 'MENU.LANGUAGE' | translate }}</ion-label>
          <ion-select [(ngModel)]="idioma" (ionChange)="changeLanguage($event)">
            <ion-select-option value="es">Español</ion-select-option>
            <ion-select-option value="en">English</ion-select-option>
          </ion-select>
        </ion-item>

      </ion-col>
    </ion-row>
  </ion-grid>




  <ion-grid>
    <ion-row>
      <ion-col size="4">
      </ion-col>
      <ion-col size="4">
        <button ion-button block button-large style="float:left;" (click)="formLogin()" class="buttonN">
          <h2> {{ 'USER.BUTTONI' | translate }} </h2>
        </button>

        <button ion-button block button-large style="float: right;" (click)="formSignin()" class="buttonN">
          <h2> {{ 'USER.BUTTONR' | translate }}</h2>
        </button><br>
      </ion-col>
      <ion-col size="3"></ion-col>
    </ion-row>
  </ion-grid>




  <ng-container *ngIf="form === 1">
    <ion-grid>
      <ion-row>
        <ion-col size="4">
        </ion-col>
        <ion-col size="4">
          <ion-input [(ngModel)]="username" class="input" maxlength="15" minlength="1"
            placeholder="{{'USER.NAME' | translate}}" type="text">
          </ion-input><br>
          <ion-input [(ngModel)]="password" class="input" maxlength="15" minlength="4"
            placeholder="{{'USER.PASS' | translate}}" type="password">
          </ion-input><br>
        </ion-col>
        <ion-col size="3"></ion-col>
      </ion-row>
    </ion-grid>

    <button ion-button block button-large (click)="login()" class="buttonN">
      <h2> {{ 'USER.BUTTONI2' | translate }}</h2>
    </button><br>

  </ng-container>

  <ng-container *ngIf="form === 2">
    <ion-grid>
      <ion-row>
        <ion-col size="4">
        </ion-col>
        <ion-col size="4">
          <ion-input [(ngModel)]="username" class="input" maxlength="15" minlength="1"
            placeholder="{{'USER.NAME' | translate}}" type="text">
          </ion-input><br>
          <ion-input [(ngModel)]="password" class="input" maxlength="15" minlength="4"
            placeholder="{{'USER.PASS' | translate}}" type="password">
          </ion-input><br>
          <ion-input [(ngModel)]="password1" class="input" maxlength="15" minlength="4"
            placeholder="{{'USER.PASS2' | translate}}" type="password">
          </ion-input><br>
        </ion-col>
        <ion-col size="3"></ion-col>
      </ion-row>
    </ion-grid>

    <button ion-button block button-large (click)="signin()" class="buttonN">
      <h2> {{ 'USER.BUTTONR2' | translate }}</h2>
    </button><br>

  </ng-container>

</ion-content>





<ion-footer>
  <ion-toolbar>

    <h4>
      {{ 'USER.GDPR' | translate }} <a href="{{path}}/gdpr" target="_blank">{{ 'USER.GDPR2' | translate }}</a>
    </h4>

  </ion-toolbar>
</ion-footer>