<ion-content padding>


  <img src="../../assets/img/Logo.png" />
  <br><br>

  <ion-text style="text-align: center;">
    <h2>Bienvenido a XMLearn, con esta aplicación web aprenderas sobre el mundo XML y cuales son sus
      vulnerabilidades.</h2>
    <h2>Es muy simple, introduces el Lenguaje con el que quieres trabajar, la url del formulario que trabaja con XML y
      sus campos.</h2>
  </ion-text>
  <br><br><br><br>


  <ion-text>
    <h1>Si estas preparado/a dale a</h1>
  </ion-text><br>
  <button ion-button block button-large (click)="nextPage()" class="button">
    <h2> Comenzar </h2>
  </button>
  <br>

</ion-content>