<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-menu-button color="light" class="buttonBack"></ion-menu-button>
        </ion-buttons>
        <ion-title color="light" style="float: left;">
            <h1>{{ 'DATA.TITLE' | translate }}</h1>
        </ion-title>
        <ion-item style="width:300px; float: right; padding-top: 8px;">
            <ion-icon name="globe" color="light"></ion-icon>
            <ion-label color="light">{{ 'MENU.LANGUAGE' | translate }}</ion-label>
            <ion-select [(ngModel)]="idioma" (ionChange)="changeLanguage($event)">
                <ion-select-option value="es">Español</ion-select-option>
                <ion-select-option value="en">English</ion-select-option>
            </ion-select>
        </ion-item>
    </ion-toolbar>
</ion-header>
<ion-content>
    <img src="../../assets/img/Logo.png" /><br>

    <ion-grid>
        <ion-row>
            <ion-col size="4">
            </ion-col>
            <ion-col size="4">
                <ion-input [(ngModel)]="name" maxlength="25" minlength="1" class="url"
                    placeholder="{{'DATA.NAME' | translate}}" type="text">
                </ion-input>
            </ion-col>
            <ion-col size="3"></ion-col>
        </ion-row>
    </ion-grid>

    <ion-text style="text-align: center;">
        <h2>{{ 'DATA.TEXT1' | translate }}</h2>
    </ion-text>

    <div class="form">

        <ion-grid>
            <ion-row>
                <ion-col size="4">
                    <ion-icon (click)="mostrarInfoURL($event)" sc-ion-popover-ios style="float:right" class="inf"
                        name="information-circle-outline">
                    </ion-icon>
                </ion-col>
                <ion-col size="4">
                    <ion-input [(ngModel)]="url" class="url" maxlength="100" minlength="1"
                        placeholder="{{'DATA.URL' | translate}}" type="url"></ion-input>
                </ion-col>
                <ion-col size="3"></ion-col>
            </ion-row>
            <br>

            <div *ngFor="let attribute of request.attributes">
                <ion-row>
                    <ion-col size="3">
                        <ion-icon (click)="mostrarInfoString($event)" sc-ion-popover-ios style="float:right" class="inf"
                            name="information-circle-outline">
                        </ion-icon>
                    </ion-col>
                    <ion-col size="6">
                        <ion-input [(ngModel)]="attribute.name" maxlength="40" minlength="1"
                            placeholder="{{'DATA.NAMEA' | translate}}" class="input" type="text">
                        </ion-input>
                        <ng-container *ngIf="attribute.type=='none'">
                            <ion-input [(ngModel)]="attribute.value" placeholder="{{'DATA.VALUEA' | translate}}"
                                class="input" maxlength="40" minlength="1" type="text">
                            </ion-input>
                        </ng-container>
                        <ng-container *ngIf="attribute.type=='string'">
                        </ng-container>

                    </ion-col>
                    <ion-col size="3">
                        <ng-container *ngIf="request.attributes.length > 1">
                            <ion-icon (click)="deleteCampo(attribute)" class="delete" name="close-circle-outline">
                            </ion-icon>
                        </ng-container>
                        <br>
                    </ion-col>
                    <ion-col size="3"></ion-col>
                </ion-row>
            </div>

        </ion-grid>
    </div>

    <ng-container *ngIf="request.attributes.length < 15 ">
        <ion-text (click)="addCampoString()" class="add">
            <h3>{{ 'DATA.ADD1' | translate }}</h3>
        </ion-text>
        <ion-text (click)="addCampo()" class="add">
            <h3>{{ 'DATA.ADD2' | translate }}</h3>
        </ion-text>
        <br><br>
    </ng-container>

    <button ion-button block button-large (click)="createForm()" class="buttonN">
        <h2>{{ 'DATA.BUTTON' | translate }}</h2>
    </button><br>
</ion-content>