<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button color="light" class="buttonBack"></ion-menu-button>
    </ion-buttons>
    <ion-title color="light">
      <h1>Sobre nosotros</h1>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img class="img" src="../../assets/img/Logo.png" />


  <ion-grid>
    <ion-row>
      <ion-col size="2"></ion-col>
      <ion-col size="8">
        <ion-text style="text-align: justify;">
          <h4>Esta aplicación web esta creada con objetivos solo académicos como parte de un Trabajo Fin de Grado en la
            Escuela Técnica Superior de Ingeniería Informática en la Universidad de Sevilla.
            Cuya finalidad es enseñar a otras personas sobre vulnerabilidades XML, como detectarlas y como evitarlas.
          </h4><br>
        </ion-text>
      </ion-col>
      <ion-col size="2"></ion-col>
    </ion-row>
  </ion-grid>
  <ion-text style="text-align: center;">
    <h4>Realizado por:</h4><br>
  </ion-text>
  <img src="../../assets/img/alicia-redonda.png" />
  <ion-text style="text-align: center;">
    <h4>Alicia Manzano Alcaide</h4><br>
  </ion-text>
</ion-content>