<ion-content>

    <img src="../../assets/img/Logo.png" />

    <ion-text style="text-align: center;">
        <h2>Elige el lenguaje con el que quieres trabajar:</h2>
    </ion-text>

    <ion-grid>
        <ion-row>
            <ion-col></ion-col>
            <ion-col size="3">
                <ion-segment [(ngModel)]="language">
                    <ion-segment-button ion-button block class="button" value="php"
                        (ionSelect)="selectedLanguage(true)">
                        <h2> PHP </h2>
                    </ion-segment-button>
                    <ion-segment-button style="margin-left: 30px;" ion-button block class="button" value="javaScript"
                        (ionSelect)="selectedLanguage(false)">
                        <h2> JS </h2>
                    </ion-segment-button>
                </ion-segment>
            </ion-col>
            <ion-col></ion-col>
        </ion-row>
    </ion-grid>
    <br>
    <ion-text style="text-align: center;">
        <h1>Introduzca la url de su formulario:</h1>
    </ion-text>
    <ion-input [(ngModel)]="url" class="url" placeholder="https://XMLearn.com/form" type="text"></ion-input><br>

    <button ion-button block button-large style="margin: auto; display: block; width: 160px;" (click)="nextPage()"
        class="button">
        <h2> Listo </h2>
    </button>

</ion-content>