<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-menu-button color="light" class="buttonBack"></ion-menu-button>
        </ion-buttons>
        <ion-title color="light">
            <h1>Crear petición</h1>
        </ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <img src="../../assets/img/Logo.png" />

    <ion-text style="text-align: center;">
        <h2>Añade los distintos campos de tu formulario:</h2>
    </ion-text>

    <div class="form">

        <ion-grid>
            <ion-row>
                <ion-col size="4">
                    <ion-icon (click)="mostrarInfoURL($event)" sc-ion-popover-ios style="float:right" class="inf"
                        name="information-circle-outline">
                    </ion-icon>
                </ion-col>
                <ion-col size="4">
                    <ion-input [(ngModel)]="url" class="url" placeholder="URL petición" type="text"></ion-input>
                </ion-col>
                <ion-col size="3"></ion-col>
            </ion-row>
            <br>

            <div *ngFor="let campo of form.atributos">
                <ion-row>
                    <ion-col size="3">
                        <ion-icon (click)="mostrarInfoString($event)" sc-ion-popover-ios style="float:right" class="inf"
                            name="information-circle-outline">
                        </ion-icon>
                    </ion-col>
                    <ion-col size="6">
                        <ion-input [(ngModel)]="campo.name" placeholder="nombre del campo" class="input" type="text">
                        </ion-input>
                        <ng-container *ngIf="campo.type=='none'">
                            <ion-input [(ngModel)]="campo.value"
                                placeholder="valor permitido del campo en caso de tener alguna restricción"
                                class="input" type="text">
                            </ion-input>
                        </ng-container>
                        <ng-container *ngIf="campo.type=='string'">
                        </ng-container>

                    </ion-col>
                    <ion-col size="3">
                        <ion-icon (click)="deleteCampo(campo)" class="delete" name="close-circle-outline"></ion-icon>
                        <br>
                    </ion-col>
                    <ion-col size="3"></ion-col>
                </ion-row>
            </div>

        </ion-grid>
    </div>

    <ng-container *ngIf="form.atributos.length < 15 ">
        <ion-text (click)="addCampoString()" class="add">
            <h3>+ campo</h3>
        </ion-text>
        <ion-text (click)="addCampo()" class="add">
            <h3>+ campo y valor</h3>
        </ion-text>
        <br><br>
    </ng-container>

    <button ion-button block button-large (click)="nextPage()" class="buttonN">
        <h2> Listo </h2>
    </button><br>
</ion-content>