<ion-content padding>




  <ion-grid>
    <ion-row>
      <ion-col size="4"></ion-col>
      <ion-col size="4">
        <img src="../../assets/img/Logo.png" />
        <br>
      </ion-col>
      <ion-col size="4">
        <ion-item style="width:300px; float: right;">
          <ion-icon name="globe" color="light"></ion-icon>
          <ion-label color="light">{{ 'MENU.LANGUAGE' | translate }}</ion-label>
          <ion-select [(ngModel)]="idioma" (ionChange)="changeLanguage($event)">
            <ion-select-option value="es">Español</ion-select-option>
            <ion-select-option value="en">English</ion-select-option>
          </ion-select>
        </ion-item>

      </ion-col>
    </ion-row>
  </ion-grid>



  <ion-grid>
    <ion-row>
      <ion-col size="2"></ion-col>
      <ion-col size="8">
        <ion-text>
          <p>{{ 'HOME.TEXT1' | translate }}
          </p>
          <p>{{ 'HOME.TEXT2' | translate }}
          </p>
        </ion-text>
      </ion-col>
      <ion-col size="2"></ion-col>
    </ion-row>
  </ion-grid>



  <ion-text>
    <h1>{{ 'HOME.TEXT3' | translate }}</h1>
  </ion-text><br>
  <button ion-button block button-large (click)="nextPage()" class="button">
    <h2> {{ 'HOME.BUTTON' | translate }} </h2>
  </button>

</ion-content>

<ion-footer>
  <ion-toolbar>

    <h4>
      {{ 'HOME.GDPR' | translate }} <a href="{{path}}/gdpr" target="_blank">{{ 'HOME.GDPR2' | translate }}</a>
    </h4>

  </ion-toolbar>
</ion-footer>