<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button color="light" class="buttonBack"></ion-menu-button>
    </ion-buttons>
    <ion-title color="light" style="float: left;">
      <h1>{{'NEGATIVE.TITLE' | translate}}</h1>
    </ion-title>
    <ion-item style="width:300px; float: right; padding-top: 8px;">
      <ion-icon name="globe" color="light"></ion-icon>
      <ion-label color="light">{{ 'MENU.LANGUAGE' | translate }}</ion-label>
      <ion-select [(ngModel)]="idioma" (ionChange)="changeLanguage($event)">
        <ion-select-option value="es">Español</ion-select-option>
        <ion-select-option value="en">English</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img src="../../assets/img/negative.png" />

  <ion-grid>
    <ion-row>
      <ion-col size="3"></ion-col>
      <ion-col size="6">
        <ion-text style="text-align: center;">
          <h1>{{'NEGATIVE.TEXT1' | translate}}</h1>
          <h1> {{'NEGATIVE.TEXT2' | translate}} {{status}}</h1>
        </ion-text><br>
        <ion-text *ngIf="test === '3'" style="text-align: justify;">
          <h3 class="borde">{{'NEGATIVE.TEXT3' | translate}}
          </h3>
        </ion-text>
        <ion-text *ngIf="test === '4'" style="text-align: justify;">
          <h3 class="borde">{{'NEGATIVE.TEXT4' | translate}}
          </h3>
        </ion-text>
        <ion-text *ngIf="test === '5' || test === '1' || test === '2' || test === '6'" style="text-align: justify;">
          <h3 class="borde">{{'NEGATIVE.TEXT5' | translate}}
          </h3>
        </ion-text>
        <br>
        <ion-text style="text-align: justify;">
          <h4>{{'NEGATIVE.TEXT6' | translate}}
          </h4>
        </ion-text>
      </ion-col>
      <ion-col size="3"></ion-col>
    </ion-row>

  </ion-grid>

</ion-content>