<ion-content>

  <img src="../../assets/img/Logo.png" />
  <br>

  <ion-title>
    <h1>Política de protección de datos</h1>
  </ion-title>

  <ion-grid>
    <ion-row>
      <ion-col size="3"></ion-col>
      <ion-col size="6">
        <ion-text>
          <h2>¿Quienes somos?</h2>
          <h4>
            <p>
              Esta aplicación esta creada por una estudiante del Grado en Ingeniería Informática del Software llamada
              Alicia Manzano Alcaide con la supervisión de su tutora Inmaculada Hernandez. Este proyecto solo tiene
              fines académicos por lo que será presentado como Proyecto de Fin de Grado aunque el proyecto se puede
              ampliar
              más adelante.
            </p>
          </h4><br>
          <h2>Datos personales</h2>
          <h4>
            <p>
              Esta aplicación guarda de cada usuario, su nombre de usuario, contraseña y peticiones que crea. Todos
              estos datos que son guardados en nuestra base de datos no son compartidos ni vendidos a terceros.
            </p>
          </h4><br>
          <h2>Cookies</h2>
          <h4>
            <p>
              Las cookies son archivos de información que nuestro servidor envía a tu navegador y que una vez ahí son
              guardadas
              por un breve periodo de tiempo. En nuestra aplicación se utilizan diversas cookies para conseguir un buen
              funcionamiento
              de la aplicación web y para evitar el uso de una base de datos donde guardar esta información. A
              continuación se detallará
              con más detenimiento donde se usan estas cookies y con que fin se usan.
            </p>
          </h4><br>
          <h2>Al crear una petición</h2>
          <h4>
            <p>
              Para poder crear una petición con la que realizar las pruebas es necesario dar un mínimo de datos,
              estos datos son una URL, los campos de los que va a estar formada la petición y un valor para aquellos
              campos
              que deben cumplir determinados requisitos. Esta información es guardada en nuestra base de datos con la
              intención
              de que el usuario tenga acceso a sus peticiones. Además, al crear una petición esta se guarda en una
              cookie para que
              el acceso a ella en la ejecución de los test sea más rápido.
            </p>
          </h4><br>
          <h2>Cuando ejecutas un test</h2>
          <h4>
            <p>
              Al ejecutar un test este intentará descubrir ciertas vulnerabilidades en tu base de datos a través de la
              petición facilitada. En este procedimiento no se guardará nada en cookies. Si este tipo de pruebas produce
              fallos o un colapso en sus servidores o bases de datos no nos hacemos responsable de ello. Usted decide
              previamente
              utilizar esta aplicación web asumiendo las consecuencias que eso puede producir en sus proyectos.
            </p>
          </h4><br>
          <h2>Al acceder a la lista de tus peticiones</h2>
          <h4>
            <p>
              Cuando accedes a la lista de tus peticiones se encuentra la opción de cambiar la petición a la que
              realizar
              las pruebas, al realizar esta acción la petición elegida es guardada en cookies para conseguir un
              acceso más rápido
              a ella cuando se ejecute un test.
            </p>
          </h4><br>
        </ion-text>
      </ion-col>
      <ion-col size="3"></ion-col>
    </ion-row>
  </ion-grid>
  <br>

</ion-content>