<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button color="light" class="buttonBack"></ion-menu-button>
    </ion-buttons>
    <ion-title color="light" style="float: left;">
      <h1>{{'LIST.TITLE' | translate}}</h1>
    </ion-title>
    <ion-item style="width:300px; float: right; padding-top: 8px;">
      <ion-icon name="globe" color="light"></ion-icon>
      <ion-label color="light">{{ 'MENU.LANGUAGE' | translate }}</ion-label>
      <ion-select [(ngModel)]="idioma" (ionChange)="changeLanguage($event)">
        <ion-select-option value="es">Español</ion-select-option>
        <ion-select-option value="en">English</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img src="../../assets/img/Logo.png" /><br>

  <ng-container *ngIf="hayForms">
    <ion-grid>
      <ion-row>
        <ion-col size="2"></ion-col>
        <ion-col size="8">
          <ion-text style="text-align: center;">
            <h3>{{'LIST.TEXT1' | translate}}
            </h3><br>
          </ion-text>
        </ion-col>
        <ion-col size="2"></ion-col>
      </ion-row>

    </ion-grid>
    <ion-text style="text-align: center;">
      <h2 style=" text-decoration: underline;
      text-decoration-color: blueviolet;"> {{'LIST.TEXT2' | translate}}</h2>
    </ion-text>
    <ion-grid>
      <ng-container *ngFor="let request of requests">
        <ion-row>
          <ion-col size="4"></ion-col>
          <ion-col size="4">
            <h3 (click)="changeForm(request)" style="cursor: pointer;  text-align: center;">{{request.name}}</h3>
          </ion-col>
          <ion-col size="4">
            <ng-container *ngIf="request.name === name">
              <ion-icon class="use" name="arrow-round-back"></ion-icon>

            </ng-container>
          </ion-col>

        </ion-row>
      </ng-container>
    </ion-grid>
  </ng-container>
  <ng-container *ngIf="!hayForms">
    <br><br><br><br>
    <ion-grid>
      <ion-row>
        <ion-col size="1"></ion-col>
        <ion-col size="10">
          <ion-text style="text-align: center;">
            <h1>{{'LIST.TEXT3' | translate}}</h1>
            <br>
          </ion-text>
        </ion-col>
        <ion-col size="1"></ion-col>
      </ion-row>

    </ion-grid>
  </ng-container>

</ion-content>