<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="1"></ion-col>
      <ion-col size="10">
        <p>
          En cada recuadro hay que escribir el nombre de la variable
          que forma parte de la petición realizada al formulario
          que se desea probar.</p> <br>
        <p>
          Si esta variable tiene que cumplir un determinado formato puede añadir un campo junto
          con un valor que cumpla dicha restricción.
        </p>
      </ion-col>
      <ion-col size="1"></ion-col>
    </ion-row>
  </ion-grid>
</ion-content>